@use "../../assets/scss/abstracts/variables" as *;
@use "../../assets/scss/abstracts/mixins" as *;

/*
    About
-------------------------------------
*/

  .about {
    .info__content {
      background-color: $color__gray-light;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-radius: var(--content__border-radius);
      .info__inner {
        max-height: var(--content__max-height);
        .info__header {
          font-family: $font-style__secondary;
        }
        .info__header,
        .info__text {
          margin-bottom: var(--content__space-s);
        }
        &:nth-child(1) {
          display: flex;
          flex-basis: var(--section__division-s);
          img {
            height: var(--image__height);
            object-position: var(--image__position);
          }
        }
        &:nth-child(2) {
          flex-basis: var(--section__division-xl);
          padding: var(--content-box__spacing);
        }
      }
    }
  }

/*
    Media queries
-------------------------------------
*/

@media screen and (max-width: 650px) {
  .about {
    .info__content {
      flex-direction: column;
      .info__inner {
        &:nth-child(1) {
          width: 100%;
        }
      }
    }
  }
}